/*----------------------------------------------
css settings for HTML div exactCenter 
------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway);

h3,p,label{
	text-align:center;
	font-family: 'Raleway', sans-serif;
	color:darkgreen;
 }
h2{
	font-family: 'Raleway', sans-serif;
	} 
input{
	width:100%;
	margin-bottom:20px;
	padding:5px;
	height:30px;
	box-shadow: 1px 1px 12px gray;
	border-radius:3px;
	border:none;
 }
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

textarea{
    width:100%;
	height:80px;
	margin-top:10px;
	padding:5px;
	box-shadow: 1px 1px 12px gray;
	border-radius:3px;
 }
#send{
	width:103%;
	height:45px;
	margin-top:40px;
	border-radius:3px;
	background-color: peru;
	border:1px solid white;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:18px;
}

div#feedback{
	text-align:center;
	height:585px; 
	width:330px; 
	padding:20px 25px 20px 15px; 
	background-color:#f3f3f3; 
	border-radius:3px; 
	border: 1px solid peru;
	font-family: 'Raleway', sans-serif;
	float:left;
	} 
.container{
	width:960px;
	margin:40px auto;
	}
